<%= simple_form_for(@post) do |f| %>
  <div class="field">
  
  </div>
  <div class="field">
   <%= f.input :title, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
